{{ define "section_content" }}
<div class="section gallery-list" id="content">
    {{ .Content }}
    <div class="gallery-container">
        <div class="gallery-section">
            {{ $name := .Site.Params.galleryFolder | default "images/"}}
            {{ $path := "gallery/" }}
            {{ $content := "/content/" }}
            {{ $src := (print $path $name) }}

            {{ $folder := (print $content $path $name) }}

            {{ $files := readDir $folder }}

            {{ $previewSubdirectory := .Site.Params.smallImagesSubfolder | default "small/"}}
            {{ $previewImagesEnabled := .Site.Params.smallPreviewImages }}

            {{ range shuffle $files }}
                {{ if and (not .IsDir) (ne .Name ".DS_Store") }}
                    <div class="gallery-item">
                        <a href="{{ $src | absURL }}{{ .Name }}">
                            {{ if $previewImagesEnabled}}
                            <img src="{{ $src | absURL }}{{ $previewSubdirectory }}{{ .Name }}" alt="{{ .Name }}" />
                            {{ else }}
                            <img src="{{ $src | absURL }}{{ .Name }}" alt="{{ .Name }}" />
                            {{ end }}           
                        </a>
                    </div>
                {{ end }}
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>
    </div>
</div>

{{ end }}