{{ define "section_content" }}
  <div class="section general-list" id="content">
    {{ .Content }}
      <ul class="general-section">
          {{ range .Data.Pages }}
            <li class="general-item">
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
              <time>
                {{ if .Params.showDate }}
                  {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}}
                {{ end }}
              </time>
            </li>
          {{ end }}
      </ul>
  </div>
{{ end }}