{{ define "section_content" }}
  <div class="section post-list" id="content">
    {{ .Content }}
    {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
      <h3 class="post-year">{{ .Key }}</h3>
      <ul class="post-section">
          {{ range .Pages }}
            <li class="post-item">
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
              <time>
                {{ if .Params.showDate }}
                  {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}}
                {{ end }}
              </time>
            </li>
          {{ end }}
      </ul>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}