.field {
  margin-bottom: 1em;
}

%content_with_narrow_width {
  padding: 0 2rem;
  max-width: 45rem;
  margin: 0 auto;
}

#splash {
  background: #39424E;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-link {
  padding: 1em;
  font-size: 1.6em;
  margin-bottom: 2em;
  a {
    color: #fff;
  }
}

.wrap {
  padding-top: 2rem;
}

.wrap>#title {
  @extend %content_with_narrow_width;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5em;
}

.wrap>#content {
  @extend %content_with_narrow_width;
  min-height: 35em;
  margin-bottom: 10em;
}

.wrap>.grid {
  @extend %content_with_narrow_width;
  min-height: 35em;
}

.tag-container {
  font-style: italic;
  line-height: 2em;
  .tag {
    font-size: .86em;
    background: #f3f3f3;
    margin: 0 .3em;
    padding: .1em .5em;
    border-radius: 1em;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.bottom-menu {
  background: #f3f3f3;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: .9em;
  line-height: 3em;
  text-align: center;
  a {
    padding: 0 1em;
    position: relative;
    &+a {
      &:before {
        content: "·";
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -.2em;
        line-height: 100%;
      }
    }
  }
}

.post, .tag, .general {
  &-section {
    margin-left: 0;
    margin-bottom: 1em;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    line-height: 2em;
    padding-left: 2em;
    time {
      text-align: right;
      font-style: italic;
    }
  }


  &-year {
    font-family: Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    color: #777;
    font-weight: 400;
    font-style: italic;
    position: relative;
    &:after {
      content: '';
      border-top: .02em solid #f3f3f3;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      width: 100%;
      left: 3em;
    }
  }
}

.tag {
  &-cloud-section {
    text-align: center;
    padding-top: 2em;
  }
  &-cloud-item {
    padding: 0 1em;
    margin-bottom: .5em;
    display: inline-block;
    margin-right: 1em;
    a {
      small {
        font-size: .6em;
      }
    }
  }
}

ul.pagination {
  margin-left: 0;
  text-align: center;
  li {
    font-family: Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    display: inline-block;
    padding-left: 0;
    height: 2em;
    width: 2em;
    line-height: 2em;
    &:before {
      content: none;
    }
    &.active {
      border-bottom: .1em solid #eee;
    }
  }
}

.gallery {
  &-list {

  }

  &-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &-item {
    width: 33.3%;
    img {
      padding: .2em;
    }
  }
}