/* reset */
* {
  outline: 0;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Luxi Sans", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "WenQuanYi Zen Hei Mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  background-color: #fff;
  line-height: 1
}

body {
  -webkit-text-size-adjust: none;
  color: #353535;
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
  overflow-x: hidden;
}

/* block */
ol, ul {
  list-style: none;
  margin-left: 1.3em;
  font-size: .9em;
}

ul {
  list-style-type: disc;
}

ul {
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, td, th {
  text-align: left;
  font-weight: 400;
  vertical-align: middle
}

blockquote, q {
  font-style: italic;
  position: relative;
  quotes: none;
  margin-bottom: 1.5em;
  color: #539999;
  font-size: .9em;
  padding-left: 1em;
  border-left: 2px solid rgba(170, 170, 170, 0.3);
  &:before, &:after {
    content: "";
    content: none;
  }
}

time {
  margin-bottom: 1.5em;
  font-family: Monaco, sans-serif;
  color: #585858;
  font-size: .8em;
}

h1, h2, h3, h4, h5 {
  color: #353535;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  margin-bottom: .5em;
}

h1 {
  line-height: 1.2em;
  font-size: 1.7em
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .9em;
}

h6 {
  font-size: .8em;
}

code, pre, tt {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

p {
  text-align: justify;
  margin-bottom: 1em;
  letter-spacing: .02em;
  font-size: .95em;
  line-height: 1.8;
}

hr {
  display: none;
}

/* none */
img {
  max-width: 100%;
  height: auto;
}

audio {
  width: 100%;
  background-color: transparent;
}

/*  inline */
a {
  color: #963;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  &:focus,
  &:hover {
    color: #c22;
  }

  &:active {
    color: #1655a8;
  }
  img {
    border: none;
  }
}



/*
class specific
*/

.truncate {
  max-width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate:after {
  background: 0 0;
  width: 1em;
  content: '';
}

.blue {
  color: #4f78fd !important;
}

.italic, .external {
  font-style: italic;
}